# Puerto de la aplicación
PORT=3001

# Configuración de MySQL
DB_HOST=localhost
DB_PORT=3306
DB_USERNAME=root
DB_PASSWORD=password
DB_DATABASE=genosentinel_clinica
DB_SYNCHRONIZE=true
DB_LOGGING=false

# URL del Frontend (Angular)
FRONTEND_URL=http://localhost:4200

# Simulación de autenticación
AUTH_SERVICE_URL=http://localhost:3000
JWT_SECRET=supersecretkey